.vscode/**
src/**
scripts/**
node_modules/**
!node_modules/bonjour-service/**
!node_modules/fast-deep-equal/**
!node_modules/multicast-dns/**
!node_modules/dns-packet/**
!node_modules/thunky/**
!node_modules/@leichtgewicht/**
!node_modules/ws/**
!node_modules/marked/**
!node_modules/@vscode/debugadapter/**
!node_modules/@vscode/debugprotocol/**
**/__tests__/**
*.test.ts
tsconfig.json
.eslintrc*
DEBUGGING.md
vitest.config.*
